
<div class="w-full">
<p id="notice"><%= notice %></p>
    <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl">
            <%= @questionnaire.name %>
        </h1>
        <%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %>|
        <%= link_to 'Back', questionnaires_path %>
    </div>

    <div id="questionnaires" class="min-w-full">
<% @questionnaire.questions.each do |question| %>
    <div class="">
        <h2><%= question.name %></h2>
    </div>
    <div class="">
        <% case question.question_type %>
        <% when 'single_choice' %>
        <% question.answers.each do |answer| %>
            <p>
                <%= radio_button_tag question.id, answer.id %>
                <%= answer.name %>
            </p>
        <% end %>
        <% when 'multiple_choice' %>
        <% question.answers.each do |answer| %>
            <p>
                <%= check_box_tag question.id, answer.id %>
                <%= answer.name %>
            </p>
        <% end %>
        <% when 'long_answer' %>
        <%= text_area_tag question.id %>
    <% end %>
</div><% end %>

    </div>

</div>